# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here
GUILD_ID=your_guild_id_here
REVIEW_CHANNEL_ID=your_review_channel_id_here
INFRACTION_LOG_CHANNEL_ID=your_infraction_log_channel_id_here
PROMOTION_LOG_CHANNEL_ID=your_promotion_log_channel_id_here
STAFF_ROLE_ID=your_staff_role_id_here
LOG_CHANNEL_ID=your_application_log_channel_id_here
ACCEPT_ROLE_ID=your_accepted_role_id_here
EMBED_COLOR=1973790
PANEL_BANNER_URL=https://imgur.com/WxeW12e
LOGO_URL=https://imgur.com/WxeW12e